.main-part__blog {
	background: $white;

	.main-part-blog__main-row {
		margin-top: 100px;

		main {

			.main-part-blog__innerMain {
				width: 100%;

				.blog__post {
					border: 1px solid $white/5*4;
					border-radius: 5px;
					margin-bottom: 50px;

					.blog__post-img-div-wrapper {
						position: relative;

						.blog__post-img-div {
							height: 282px;
							width: 100%;
							background: $white/5*4;
							border-radius: 5px;
						}

						.__tags-bottom {
							position: absolute;
							bottom: 0;
							right: 0;
							width: 0;
							height: 0;
							border: 50px solid transparent;
							border-bottom-color: $pink;
							border-right-color: $pink;
							color: $white;

							span {
								position: absolute;

								&:nth-child(1) {
									font-size: 26px;
									right: -41px;
									top: -10px;
								}

								&:nth-child(2) {
									top: 18px;
									right: -40px;
								}
							}
						}
					}

					.blog__post-discription {
						padding-left: 50px;
						padding-top: 30px;
						padding-right: 50px;
						padding-bottom: 45px;
						a {
							color: $blue;
							font-size: 42px;
							font-weight: bold;
							text-decoration: none;
							h2 {
								margin: 0;
							}
						}


						.blog-post__discription-span {
							margin-top: 25px;
							display: block;
							line-height: 1.7;
							word-spacing: 2px;
							max-height: 76px;
							overflow: auto;
						}
					}
				}

				.blog__post-full {
					border: 1px solid $white/5*4;

					h1 {
						font-size: 42px;
						font-weight: bold;
					}

					h2 {
						font-size: 26px;
						font-weight: bold;
						margin-bottom: 7px;
					}

					h3 {
						font-size: 20px;
						font-weight: bold;
						margin-top: 30px;
					}

					p {
						line-height: 1.7;
						word-spacing: 1.8px;
						margin-bottom: 16px;

						&.blog__cutP {
							max-height: 84px;
							overflow: hidden;
						}
					}

					a {
						border-bottom: 1px solid $blue;
						text-decoration: none;
					}

					.blog-post__ideas {
						margin-bottom: 22px;
					}

					ul {
						padding: 0;
						list-style: none;
						line-height: 2.2;
						margin-bottom: 10px;
						margin-top: -11px;

						li{
							position: relative;
							padding-left: 14px;

							&:before {
								content: '>';
								position: absolute;
								color: $pink;
								left: -3px;
								top: -6px;
								font-size: 20px;
								font-weight: bold;
							}
						}
					}

					mark {
						background: $pink;
						color: $white;
					}

					.blog__imgs {
						display: flex;
						margin-top: 22px;

						.blog__imgs-single {
							width: 100%;

							div {
								background: $white/5*4;
								height: 432px;
								border-radius: 5px;
								width: 100%;
								margin-right: 10px;
							}
						}

						.blog__imgs-double {
							width: 100%;
							div {
								background: $white/5*4;
								height: 208px;
								border-radius: 5px;
								padding-left: 5px;

								&:nth-child(2) {
									margin-top: 16px;
								}
							}
						}
					}

					.blog__imgs-discription {
						display: flex;
						margin-top: 8px;
						justify-content: center;
						margin-right: 34px;
						letter-spacing: 0.5px;
						margin-bottom: 22px;
					}

					.__division {
						height: 2px;
						background: $white/5*4;
						margin: 28px -10px 28px 0px;
					}

					.blog__tags-share {
						margin: -5px;
						padding-left: 2px;
					}

					.__share {
						margin: 28px 0 0 0;
						font-weight: bold;

						span {
							margin-right: 30px;
						}

						a {
							text-decoration: none;
							border-bottom: 0;

							i {
								color: $blue;
								font-size: 20px;
								margin: 0 3px;
							}
						}
					}
				}

				.blog__last-post-article {
					border: 1px solid $white/5*4;
					border-radius: 5px;
					color: $blue;
					display: flex;
					justify-content: space-between;
					margin-top: 50px;
					font-weight: bold;

					span {
						cursor: pointer;
						&:hover {
							text-decoration: underline;
						}
					}
				}

				.blog__comments {
					border: 1px solid $white/5*4;
					border-radius: 5px;
					margin-top: 50px;
					margin-bottom: 100px;

					h2 {
						font-size: 42px;
						font-weight: bold;
						margin: 0;
					}

					.blog__comments-h2 {
						padding-bottom: 38px;
					}

					.blog__comments-it {
						margin-bottom: 35px;

						.blog__comments-comment {
							display: flex;
							padding-top: 30px;
							padding-bottom: 30px;
							border-top: 1px solid $white/5*4;

							&.blog__comments-comment-replay {
								margin-left: 115px;
							}

							&:last-child {
								border-bottom: 1px solid $white/5*4;
							}

							.blog__comments-autor {
								.blog__comments-avatar {
									width: 100px;
									height: 100px;
									border-radius: 100%;
									background: $white/5*4;
									margin: 0 auto;
								}

								.blog__comments-name {
									display: flex;
									margin-top: 8px;
									font-weight: bold;
									justify-content: center;
								}
							}

							.blog__comments-text-wrapper {
								margin-left: 13px;

								.blog__comments-date-replay {
									display: flex;
									justify-content: space-between;

									.blog__comments-replay {
										text-transform: uppercase;
										color: $blue;
										letter-spacing: 3.5px;
										line-height: 2;
										cursor: pointer;

										&:hover {
											text-decoration: underline;
										}
									}
								}

								.blog__comments-text {
									background: #f7f7f7;
									padding: 20px 30px;
									line-height: 1.8;
								}
							}
						}
					}

					.blog__leave-comment {

						.container {
							padding: 0;
							padding-top: 30px;

							.__input-lable {
								display: flex;
								flex-direction: column;

								input {
									outline: none;
								}
							}

							textarea {
								height: 186px;
								resize: none;
								outline: none;
							}
						}

						.__div-btn {
							display: flex;
							justify-content: flex-end;
							margin-top: 23px;
							margin-bottom: 50px;

							button {
								width: 266px;
								height: 46px;
								text-transform: uppercase;
								border: 0;
								background: $blue;
								color: $white;
								border-radius: 24px;
								letter-spacing: 3.5px;

								&:hover {
									background: $white;
									color: $blue;
									border: $blue 1px solid;
								}
							}
						}
					}
				}
			}

			.main-part-catalogIntro__numPage {
				margin-top: -7px;
			}

			.blog__main-img {
				background: $white/5*4;
				height: 566px;
				border-radius: 5px;
			}
		}

		aside {
			padding: 0;

			.__inerAside {
				border: 1px solid $white/5*4;
				border-radius: 5px;
				padding-bottom: 50px;


				.__aside-block {
					padding: 44px 26px 0 26px;

					.__division {
						background: $white/5*4;
						height: 1px;
						width: 100%;
					}

					h3 {
						margin-bottom: 16px;
					}

					span {
						line-height: 1.75;
					}

					.__email-subscribe {
						margin-top: 16px;
						input {
							width: 200px;
							height: 35px;
							border-radius: 5px;
							border: 1px solid $white/5*4;
							padding-left: 10px;
							outline: none;

							&:focus {
								border: 1px solid $blue;
							}
						}
					}

					.__subscribe {
						color: $white;
						background: $blue;
						border-radius: 20px;
						width: 200px;
						height: 48px;
						border: 0;
						outline: none;
						margin-top: 18px;
						text-transform: uppercase;
						letter-spacing: 3px;

						&:hover {
							color: $blue;
							background: $white;
							border: 1px $blue solid;
						}
					}

					ul {
						list-style: none;
						color: $blue;
						line-height: 2.6;
						margin-bottom: 0;
					}

					&.__aside-block-recent-wrapper {
						margin-bottom: -14px;
						margin-top: -8px;
						h3 {
							margin-bottom: 24px;
						}
					}

					.__aside-block__recent-post {
						display: flex;
						flex-direction: column;
						margin: 14px 0;

						.__aside-block__recent-img-h4-wrapper {
							display: flex;
							align-items: center;

							.__aside-block__recent-img-div {
								min-width: 56px;
								min-height: 56px;
								max-height: 56px;
								max-width: 56px;
								background: $white/5*4;
								margin-right: 16px;
							}
							a {
								font-weight: bold;
								color: $blue;
								font-size: 16px;
								h4 {
									margin: 0;
								}
							}
						}

						.__aside-block__recent-post-discription {
							display: flex;
							justify-content: space-between;
							font-size: 12px;
						}
					}
				}
			}
		}

		.blog-post__ideas {
			margin-top: 15px;
			padding: 6px 0px;
			display: flex;
			justify-content: space-between;
			border-top: 1px solid $white/5*4;
			border-bottom: 1px solid $white/5*4;
			cursor: pointer;

			div:nth-child(2) {
				color: $blue;
			}

			.__pink-point {
				margin: 2px 6px;
				display: inline-block;
				background: $pink;
				width: 8px;
				height: 8px;
				border-radius: 100%;
			}
		}

	}
}