@media screen and (min-width: 300px) {
	.main-part__slider {
		@include center();
		.container {

			.main-part__strawberry {
				padding: 0.3em;
				@include center();
				flex-direction: column;

				h1 {
					font-size: 60px;
					text-align: center;
				}

				h3 {
					text-align: center;
				}

				button {
					margin: 0;
				}

				.main-part__slide-priceAndByu {
					flex-direction: column;
				}
			}

			.__slider-but,
			.slick-dots {
				bottom: -74px;
			}
		}
	}

	.main-part__newProduct {

		.part-new__baner {
			margin-bottom: 1em;
		}
		.main-part-hor__part {
			.__priceNumControllerAdd {
				.__numController {
					margin: 1em 30px;
				}
			}
		}

		.part-new__baners-wrap .part-new__baners .part-new__baner {
			padding: 0;
		}

		h2 {
			text-align: center;
		}

		.main-part__img {
			width: 100%;
		}

		.main-part-hor__tag {
			right: 0;
		}

		.__priceNumControllerAdd {
			flex-direction: column;
		}

		.main-part-hor__discription-left {
			order: 1;
		}

		.main-part-hor__img-div {
			order: 0;
		}

		.main-part-hor__img-div-first {
			padding-right: 15px;
		}

		.main-part-hor__img-div-second {
			padding-left: 15px;
		}
	}

	.main-part-new__vertical {
		.__priceNumControllerAdd {
			flex-direction: row;
			div {
				margin: 0.65em 0;
			}
		}
	}

	.__verticale-product {
		text-align: center;
		margin: 1em 0;

		.__containeVer .__verticale-img div {
			right: calc(50% - 130px);
		}

		.__verticale-discription {
			align-items: center;
		}
	}

	.main-part__reviews {
		.main-part-reviews__review {
			flex-direction: column;

			h3 {
				top: -30px;
			}

			.main-part-reviews__person {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
		.slick-dots {
			bottom: 40px;
		}

		.__slider-but {
			bottom: 40px;
		}
	}

	.main-part-blog-post__txt-div {
		height: 248px;
	}
}

@media screen and (min-width: 576px) {
	.main-part__slider {
		.container {
			margin-right: auto;
		}
	}

	.__verticale-product {
		&:nth-child(2n-1) {
			.__containeVer {
				margin: 0 10px 0 0;
			}
		}

		&:nth-child(2n) {
			.__containeVer {
				margin: 0 0 0 10px;
			}
		}
	}
}
@media screen and (min-width: 768px) {
	.main-part__slider {
		.container {
			margin-right: auto;

			.main-part__strawberry {
				padding: 3em 1.9em;
				width: 35.1875em;
				align-items: flex-start;

				h1 {
					font-size: 72px;
				}

				.__addToCart {
					margin-right: 3.5em;
				}

				.main-part__slide-priceAndByu {
					flex-direction: row;
				}
			}
		}
	}
	.main-part-blog-post__txt-div {
		height: 166px;
	}
}

@media screen and (min-width: 992px) {
	.wrapper {
		.main-part__newProduct {

			.main-part-hor__part {
				.__priceNumControllerAdd {
					flex-direction: row;
					.part-new__baners-wrap {
						height: 260px;

						.main-part-hor__tag {
							right: 15px;
						}

						.__numController {
							margin-right: 30px;
						}
					}
				}

				.main-part-hor__discription-left {
					order: 0;
				}
			}

			.part-new__baners-wrap .part-new__baners .part-new__baner {
				&:nth-child(1) {
					padding-right: 22px;
				}

				&:nth-child(2) {
					padding: 0 10px;
				}

				&:nth-child(3) {
					padding-left: 22px;
				}
			}
		}

		.__verticale-product {

			text-align: left;

			.__containeVer .__verticale-img div {
				right: 0;
			}

			&:nth-child(1) {
				.__containeVer {
					margin: 0 24px 0 0;
				}
			}

			&:nth-child(2) {
				.__containeVer {
					margin: 0 16px 0 8px;
				}
			}

			&:nth-child(3) {
				.__containeVer {
					margin: 0 8px 0 12px;
				}
			}

			&:nth-child(4) {
				.__containeVer {
					margin: 0 0 0 20px;
				}
			}
		}

		.main-part__reviews {
			.main-part-reviews__review {
				flex-direction: row;

				h3 {
					top: 0;
				}
			}

			.slick-dots {
				bottom: 80px;
			}

			.__slider-but {
				bottom: 80px;
			}
		}
	}
}


@media screen and (min-width: 1200px) {
	.wrapper {
		.main-part-home {
			.main-part__newProduct {
				.main-part-new__horizont {
					.main-part-hor__part {
						.main-part-hor__img-div {
							padding-left: 15px;
						}
						.main-part-hor__img-div-first {
							padding-left: 0;
							padding-right: 15px;
							.main-part-hor__tag {
								right: 15px;
							}
						}
					}
				}
			}

			.__verticale-product {
				margin: 0;
			}
		}

		.main-part-home {
			.main-parrt-new__header {
				margin-bottom: 50px
			}
		}

		.main-part__blog {
			.main-part-blog__post {
				padding: 0;

				&:nth-child(2n) {
					padding-right: 15px;
				}

				&:nth-child(2n+1) {
					padding-left: 15px;
				}
			}

			.main-part-blog__post .main-part-blog__post-iner .main-part-blog-post__txt-div {
				height: 142px;

				h3 {
					margin-bottom: 15px;
				}
			}
		}
	}
}