@media screen and (min-width: 300px) {
	.footer {
		section {
			padding: 1em;
		}
	}
}

@media screen and (min-width: 576px) {
	.footer {
		section {
			padding: 0;
		}
	}
}
@media screen and (min-width: 768px) {
	.footer {
		.footer__instagram-img {
			a:nth-child(3) {
				margin-right: 4em; // becose without it 4 and 2 blocks on row
			}
		}
	}
}

@media screen and (min-width: 992px) {
	.footer {
		.footer__instagram-img {
			a:nth-child(3) {
				margin-right: 0em;
			}
		}
	}
}

@media screen and (min-width: 1200px) {
}