@import 'include/mixin.scss';
@import 'include/color.scss';

h1 {
	font-size: 72px;
}

h2 {
	font-size: 54px;
}

h3 {
	font-size: 26px;
	margin: 0;
}

html,
body,
.wrapper {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
	min-height: 100%;
	font-size: 16px;
	font-family: 'Quattrocento Sans', sans-serif;
	background: $white/5*4;
}


.__submenu {
	height: 0;
	width: 0;
	border: 0.2em solid transparent;
	border-top-color: $blue;
	cursor: pointer;
}

.__slider {
	width: 100%;
	height: 100%;

	.__slider-but {
		position: absolute;
		height: 24px;
		width: 24px;
		z-index: 3;

		&:nth-child(1) {
			left: 0;
		}
		&:nth-child(3) {
			right: 0;
		}
	}

	.__slider-last {
		@include makeArrow(right, 12px, $white);
		cursor: pointer;
		div {
			@include makeArrow(right, 8px, $white/5*4);
			top: -8px;
			left: -4px;
		}
	}

	.__slider-next {
		@include makeArrow(left, 12px, $white);
		cursor: pointer;
		div {
			@include makeArrow(left, 8px, $white/5*4);
			top: -8px;
			left: -12px;
		}
	}

	.slick-dots {
		li {
			height: 1em;
			width: 1em;
			button::before {
				font-size: 18px;
			}
		}
	}
}

.__addToCart {
	width: 230px;
	height: 48px;
	border: 0;
	background: $pink;
	color: $white;
	border-radius: 24px;
	outline: none;
	font-weight: bold;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	&:focus {
		outline: none;
	}
}

.__numController {
	display: flex;
	align-items: center;
	div {
		width: 18px;
		height: 18px;
		background: #000;
		border-radius: 100%;
		cursor: pointer;
		color: $white;
		text-align: center;
		padding-left: 0.32em;
		line-height: 18px;
		font-weight: bold;
	}

	input {
		width: 27px;
		height: 25px;
		margin: 0 4px;
		border: 1px solid #f0f0f0;
		text-align: center;
		outline: none;
	}
}

.__verticale-product {
	padding: 0;

	.__containeVer {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		border: 2px solid #f0f0f0;
		border-radius: 0.5em;
		height: 740px;

		.__verticale-img {
			position: relative;

			div {
				@include makeTag(30px, $green);

				span {
					left: -4px;
					top: -18px;
				}
			}

		}

		.__verticale-discription {
			display: flex;
			flex-direction: column;
			padding: 0 28px;
			height: 0;
			flex-grow: 1;

			h3 {
				font-weight: bold;
				margin-top: 45px;
				margin-bottom: 30px;
				margin: 30px 0;
			}

			button {
				width: 200px;
			}

			.__verticale-txt {
				height: 0;
				overflow: hidden;
				flex-grow: 1;
			}

			.__priceNumControllerAdd {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				border-top: 1px solid #f0f0f0;
				margin-top: 30px;
				width: 200px;
				margin-bottom: 50px;

				.__numController {
					div {
						line-height: 17px;
						padding-left: 0;
					}
				}

				.__old-price {
					width: 54px;
					text-align: center;
				}
			}
		}
	}
}

.__priceNumControllerAdd {
	.__price {
		@include center();
		color: $blue;
	}

	.__old-price {
		color: #d0d0d0;
		text-decoration:line-through;
	}
}


.wrapper {
	@import 'piece/header/style.scss'; 		// include header
	@import 'piece/mainPart/mainPart.scss'; //include main part
	@import 'piece/footer/style.scss';		// include footer
}

@import 'include/mediaScreen.scss';