@media screen and (min-width: 300px) {
	.__namePage {
		h1 {
			font-size: 60px;
		}
	}

	.main-part__registr-wrapper {
		.registr__steps {
			font-size: 14px;
		}

		input {
			width: 150px;
		}

		h2 {
			font-size: 34px;
		}

		.main-part__cart .cart__main .cart__order {
			padding-bottom: 1em;
		}
	}

	.wrapper .main-part__registr-wrapper .main-part__registr .registr__form form button {
		width: 210px;
	}

	.main-part__accountInfo {
		width: 280px;
		.accountInfo__places {
			padding: 33px 15px;

			button {
				width: 240px;
			}
		}

		.accountInfo__btns {
			flex-direction: column;
			button {
				border: 1px solid $blue;
			}
		}
	}

	.main-part__cart {
		.cart__main {
			padding: 34px 10px;

			.cart__buttons {
				flex-direction: column;
			}

			.cart__order {
				flex-direction: column;
			}
		}
	}

	.main-part__about {
		.main-parrt-new__header {
			h2 {
				font-size: 25px;
			}
		}

		.about__img-wrapper {
			padding-right: 0;
		}

		.col-md-8 {
			margin-bottom: 30px;
		}
	}
}

@media screen and (min-width: 576px) {
	.main-part__accountInfo {
		width: auto;
		.accountInfo__places {
			padding: 33px 92px;

			button {
				width: 322px;
			}
		}

		.accountInfo__btns {
			flex-direction: row;
			button {
				border-right: 0;
				&:last-child {
					border-right: 1px solid $blue;
				}
			}
		}
	}

	.__namePage {
		h1 {
			font-size: 72px;
		}
	}

	.wrapper .main-part__registr-wrapper .main-part__registr .registr__form form button {
		width: 16.375em;
	}

	.main-part__registr-wrapper {
		.registr__steps {
			width: 312px;
			font-size: 16px;
		}

		input {
			width: 260px;
		}

		h2 {
			font-size: 42px;
		}

		.main-part__cart .cart__main .cart__order {
			padding-bottom: 0em;
		}
	}

	.main-part__cart {
		.cart__main {
			padding: 34px 50px;

			.cart__buttons {
				flex-direction: row;
			}

			.cart__order {
				flex-direction: row;
			}
		}
	}

	.main-part__about {
		.main-parrt-new__header {
			h2 {
				font-size: 54px;
			}
		}
	}
}
@media screen and (min-width: 768px) {
	.main-part__accountInfo {
		.accountInfo__places {
			padding: 40px 194px;
		}
	}

	.main-part__about {
		.col-md-8 {
			margin-bottom: 0;
		}
		.about__img-wrapper {
			padding-right: 10px;
		}
	}
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
	.main-part__accountInfo {
		width: 750px;
	}
}