@media screen and (min-width: 300px) {

	.main-part-catalogIntro__main-row {
		.main-part-new__vertical {
			.row {
				display: flex;
				justify-content: center;
			}
		}
	}

	.main-part-catalogIntro__main-row {
		justify-content: center;
		main {
			order: 1;

			.catalogIntro__dishes-ver-div {
				margin: 0;
			}

			h1 {
				font-size: 62px;
			}
		}

		aside {
			order: 0;
			margin-bottom: 30px;

			.main-part-catalogIntro__checkBoxes {
				margin: 0 -1em;

				label {
					margin: 1em;
				}
			}

			.main-part-catalogIntro__btn-div {
				text-align: left;
			}
		}
	}

	.__verticale-product .__containeVer {
		margin: 0;
	}

	.__result-of-search-numPage {
		margin-top: -2em;
		margin-bottom: 1em;
		margin-left: 1em;
	}

	.main-part-catalogList-main {
		order: 2;

		.container {
			margin: 0 0 30px -8px;

			&:first-child {
				margin-top: 30px;
			}

			.row {
				align-items: center;
				justify-content: center;

				.main-part-catalogList__wrapper {
					flex-direction: column;
					align-items: center;
					width: 260px;

					.main-part-catalogList-img-div {
						display: flex;
						justify-content: center;
						width: 260px;
						padding: 0;

						.main-part-catalogIntro__img-div-list {
							margin-left: 0;
						}

						.main-part-hor__tag {
							right: calc(50% - 130px);
						}
					}

					.main-part-catalogIntro__discription {
						align-items: center;
						text-align: center;

						.__addToCart {
							margin-bottom: 25px;
						}

						.__priceNumControllerAdd {
							display: flex;
							align-items: center;
							flex-direction: column;

							.__priceNumControllerAdd-allPrice {
								display: flex;
								margin-bottom: 1em;

								.__old-price {
									@include center();
									margin: 0 1em;
								}

							}
						}
					}
				}
			}
		}
	}

	.main-part-catalogIntro__numPage {
		word-spacing: 3px;
	}

	.catalogIntro__advertising {
		padding: 6px;

		.row {
			margin: 27px 10px 55px 10px;
			padding-right: 20px;
		}
	}

	.main-part__catalogInfo {
		margin-top: 100px;

		.catalog-info__wrapper-main-img {
			padding: 0 15px;

			.catalogInfo__item-main-img-div {
				width: 100%;
			}
		}

		.catalogInfo__item-discription {
			margin-top: 2em;
		}

		.catalogInfo__list-wrapper:nth-child(2) {
			padding: 0;
			margin-top: 1em;
		}

		.__devide {
			display: none;
		}

		.catalogInfo-item__smalIcon-img-inerWrapper {
			flex-wrap: wrap;
			justify-content: center;

			.catalogInfo-item__smalIcon-img-div {
				margin: 7px;
			}
		}

		.__priceNumControllerAdd {
			flex-direction: column;
			align-items: center;
			margin-top: 1em;
		}

		.catalog-info__wrapper-main-img {
			display: flex;
			justify-content: center;
		}

		.catalogInfo__item-main-img-teg {
			right: 15px;
		}

		.catalogInfo__list-first {
			margin-right: 0;
		}
	}

	.catalogIntro__dishes-div {
		padding: 15px;
	}
	.wrapper .main-part-catalogIntro main .catalogIntro__dishes .row .catalogIntro__dishes-hor-div {
		padding: 15px;
	}
}

@media screen and (min-width: 576px) {
	main {
		h1 {
			font-size: 72px;
		}
	}

	.main-part-catalogIntro__main-row {
		justify-content: left;
	}

	.main-part-catalogGrid {
		.main-part-catalogIntro__main-row {
			justify-content: flex-end;
		}
	}

	.main-part-catalogList-main {
		.container {
			.row {
				justify-content: flex-start;

				.main-part-catalogList__wrapper {
					width: auto;
					margin: 0 5px 0 15px;
				}
			}
		}
	}

	.main-part__catalogInfo {

		.catalog-info__wrapper-main-img {
			padding: 0 15px;
		}

		.catalogInfo-item__smalIcon-img-inerWrapper {
			margin: 0 -7px;
		}
	}

	.catalogIntro__advertising {
		padding: 0px;

		.row {
			padding-right: 40px;
		}
	}

}
@media screen and (min-width: 768px) {
	.main-part-catalogList-main {
		.container {
			.row {
				.main-part-catalogList__wrapper {
					flex-direction: row;

					.main-part-catalogList-img-div {
						.main-part-hor__tag {
							right: 0;
						}
					}

					.main-part-catalogIntro__discription {
						height: 400px;
					}

					.blog__imgs-double {
						ppadding-left: 7px;
					}
				}
			}
		}
	}

	.catalogIntro__advertising {
		padding: 0px;

		&.catalogIntro__advertisingIntro {
			.row {
				margin-right: 13px;
				margin-left: 15px;
			}
		}

		.row {
			padding-right: 40px;
			margin-left: 0;
			margin-right: 0;
		}
	}

	.main-part__catalogInfo {
		.catalogInfo-item__smalIcon-img-wrapper {
			justify-content: center;
		}

		.catalogInfo__item-main-img-teg {
			right: 83px;
		}
	}
}

@media screen and (min-width: 992px) {
	.main-part-catalogIntro {
		main {
			order: 0;

			.catalogIntro__dishes-ver-div {
				margin: -15px 0;
			}
		}

		aside {
			order: 1;
			margin-bottom: 0;

			.main-part-catalogIntro__checkBoxes {
				margin: 0;

				label {
					margin: 6.5px 0;
				}
			}

			.main-part-catalogIntro__btn-div {
				text-align: center;
			}
		}
	}


	.main-part-catalogIntro__main-row {
		.main-part-new__vertical {
			.row {
				display: flex;
				justify-content: left;
			}
		}
	}

	.__result-of-search-numPage {
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 0;
	}

	.main-part__catalogInfo {
		.catalogInfo__item-main-img-teg {
			right: 203px;
		}
	}

	.main-part-catalogList-main {
		.container {

			&:first-child {
				margin-top: 0;
			}
		}
	}

	.wrapper .main-part-catalogIntro main .catalogIntro__dishes .row .catalogIntro__dishes-hor-div {
		padding: 0px 7px 0px 7px;
	}

	.catalogIntro__advertising {
		padding: 0 35px 0 15px;

		&.catalogIntro__advertisingIntro {
			padding: 0;
			.row {
				margin-right: 10px;
				margin-left: 5px;
			}
		}
	}


	.row {
		&.__reverse {
			.catalogIntro__dishes-ver-div {
			    padding: 15px 20px 15px 5px;
			}

			.catalogIntro__dishes-hor-div  {
			    padding: 0px 10px 6px 13px;
			}
		}

	}

	.main-part-catalogGrid .__verticale-product:nth-child(3) .__containeVer {
		margin-left: -20px !important;
	}

	.main-part-catalogGridSearch .__result-of-search .col-lg-3 {
		margin-left: 140px;
	}

	.__result-of-search .col-lg-6 {
		margin-left: 20px;
	}
}

@media screen and (min-width: 1200px) {
	.catalogIntro__advertising {
		padding: 0;
		padding-right: 25px;
	}

	.main-part-catalogList-main {
		text-align: left;

		.container {

			.main-part-catalogList-img-div .main-part-hor__tag {
				right: calc(50% - 127px);
			}
			.main-part-catalogIntro__discription {
				text-align: left;
				align-items: flex-start;
				.__priceNumControllerAdd {
					display: flex;
					align-items: center;
					flex-direction: row;

					.__priceNumControllerAdd-allPrice {
						margin-bottom: 0;

						.__numController {
							margin-left: 34px;
							margin-right: 30px;
							div {
								padding-left: 0;
							}
						}
					}
				}
			}
		}
	}

	.main-part-catalogIntro {

		aside {
			margin-top: -95px;
			padding-left: 24px;
		}
	}

	.main-part-catalogList-main {
		.container {

			&:first-child {
				margin-top: 0;
			}

			.row .main-part-catalogList__wrapper {
				margin: 0;
				.main-part-catalogList-img-div{
					.main-part-catalogIntro__img-div-list {
						margin-left: -20px;
					}

					.main-part-hor__tag {
						right: 20px;
					}
				}

				.main-part-catalogIntro__discription {
					align-items: flex-start;
					justify-content: flex-start;
					text-align: left;

					.__priceNumControllerAdd {
						flex-direction: row;

						.__priceNumControllerAdd-allPrice {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}

	.main-part-catalogIntro__numPage {

		.col-sm-12 {
			word-spacing: 18px;
			margin-top: 10px;
			margin-bottom: -5px;
		}
	}

	.main-part__catalogInfo {

		.catalogInfo-item__smalIcon-img-wrapper {
			margin: 0 -7px;
		}

		.catalogInfo__item-discription {
			margin-top: 1em;

			.container .row {
				margin-right: -38px;
			}
		}

		.catalogInfo__list-wrapper:nth-child(2) {
			padding: 23px;
			margin-top: 0;
			padding-left: 12px;
		}

		.catalog-info__wrapper-main-img {
			padding: 0;
		}

		.__devide {
			display: flex;
		}

		.catalogInfo-item__smalIcon-img-inerWrapper {
			flex-wrap: nowrap;
			justify-content: flex-start;

			.catalogInfo-item__smalIcon-img-div {
				margin: 0 7px;
			}
		}

		.__priceNumControllerAdd {
			flex-direction: row;
			margin-top: -2px;
			margin-left: 14px;
			margin-right: -13px;
			font-weight: bold;
		}

		.catalog-info__wrapper-main-img {
			display: flex;
			justify-content: flex-start;
		}

		.catalogInfo__item-main-img-teg {
			right: 15px;
		}

		.catalogInfo__list-first {
			margin-right: 20px;
		}
	}

	.main-part-catalogGrid {

		.main-part-catalogList-main .main-part-catalogList__wrapper .main-part-catalogIntro__discription{

			p {
				max-height: 212px;
				margin-bottom: 0;
			}

			.__addToCart {
				margin-bottom: 0 !important;
			}
		}
	}


	.main-part-catalogGridSearch .__result-of-search .col-lg-3 {
		padding-right: 40px;
		margin-left: 0;
	}

	.__result-of-search .col-lg-6 {
		margin-left: 0;
	}
}